// home w/ user - shows profile aside and message timeline
div#timeline-container {
    justify-content: center;
    margin: $distance-to-navbar-and-footer;

    // aside================================================
    aside#aside-timeline-outer {
        position: relative;
        width: 500px;

        div#aside-timeline-middle {
            position: sticky;
            top: $distance-to-window-aside;

            div#aside-timeline-inner {

                h3 { font-size: 1.1rem; }

                h6 { font-size: .9rem;  }

                ul {
                    list-style-type: none;
                    padding: 0px;

                    li {
                        font-size: .75rem;

                        span { font-weight: 800  }
                    }
                }
            }
        }
    }

    // message form ========================================
    div#form-container.message-form-timeline-container {

        h2.message-form-timeline-header {
            font-size: 1.25rem;
        }

        input#message-input.form-control.message-form-timeline-input {
            margin: 0px;

            &:invalid { box-shadow: none;  }
        }

        button#message-button.btn.btn-success.pull-right.message-form-timeline-button {
            margin: 5px 0px;

            &:focus { box-shadow: none; }
        }
    }

    // messages container ==================================
    div#message-list {
        background-color: $color-bg;

        div#message-item-container {
            border: {
                left: 1px solid $color-border;
                right: 1px solid $color-border;
            }

                &:first-child {
                    border-top: 1px solid $color-border;
                }

                &:last-child {
                    border-bottom: 1px solid $color-border;
                }

            // each message box
            li#message-item {
                background-color: $color-bg;
                display: flex;
                align-item: flex-start;
                padding: 7px 20px;

                &:hover {
                    background-color: lighten($color-bg, 10);
                }

                // image of the user
                img {
                    border-radius: 50px;
                    object-fit: cover;
                }

                // message body
                div.message-area {
                    background-color: transparent;
                    width:100%;
                    margin-left: 20px;

                    // delete
                    a.btn.btn-danger {
                        float: right;
                        color: rgb(189, 33, 48);
                        background-color: $color-bg;
                        transform: scale(.70);

                        &:hover {
                            background-color: $color-delete-btn-font;
                            color: whitesmoke;
                        }
                    }
                }
            }
        }
    }
}