@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font:'Montserrat', sans-serif;

body {
    font-family: !important $font;
}

// navigation, login, signup
div.onboarding {

    nav#navbar-outer {
        background-color: gray;

        div#navbar-inner {
            margin: 0px 15%;

                ul {
                display: flex;
                flex-direction: row-reverse;
                width: 100%;

                li {
                    margin: 0px 0px 0px 2.5%;

                    a {
                        color: black;

                        &:hover {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    #messages .list-group-item {
        display: flex;
        align-item: flex-start;
        padding: 7px 20px 12px;
    }

    #messages:not(.no-hover) .list-group-item:hover {
        background-color: #e6ecf8;
    }
 }
