@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font:'Montserrat', sans-serif;
$border-radius: 4px;
$color-bg: rgb(21, 32, 43); // #15202B
$color-border: #5F6B78;
$color-delete-btn-font: rgb(189, 33, 48);
$distance-to-navbar-and-footer: 20px 0px;
$distance-to-window-aside: 20px;
$hover-color: lighten($color-bg, 10);
$focus-color: darken($color-bg, 7.5);

body {
    font-family: $font !important ;
    background-color: $color-bg;
    color: whitesmoke;
}

ul, ul > li {
    text-decoration: none;
    list-style-type: none;
}

@import './navbar.scss';
@import './home-timeline.scss';
@import './home-nouser.scss';
@import './forms.scss';
@import './profile.scss';
@import './loader.scss';
@import './dropdown.scss';
@import './modal.scss';
