// home w/o any logged in users
header.home-hero {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 12.5px;
    height: 50vh;
    background-image: url('../images/default-timline-header.jpg');
    background-position: bottom;
    background-size: cover;
    background-color: rgba($color: #000000, $alpha: 0.5);
    background-blend-mode: overlay;
    border-radius: $border-radius;

    h1, h4, button {
        margin-left: 50px;
    }

    button {
        padding: 12.5px;
        border-color: $color-bg;
        background-color: $color-bg;
        text-transform: uppercase;

        &:hover {
            background-color: $hover-color;
            border-color: $hover-color;
        }
    }
}

#timelinenouser-container {
    #timelinenouser-message-list {
        #timelinenouser-messages {
        background-color: $color-bg;
        padding-right: 0px !important;

        div#message-list-inner {
            padding: 0px;
        }

        div#message-item-container {
            border: {
                left: 1px solid $color-border;
                right: 1px solid $color-border;
            }

                &:first-child {
                    border-top: 1px solid $color-border;
                }

                &:last-child {
                    border-bottom: 1px solid $color-border;
                }

            // each message box
            li#message-item {
                background-color: $color-bg;
                display: flex;
                align-items: flex-start;
                padding: 40px 20px 20px 20px;

                &:hover {
                    background-color: lighten($color-bg, 10);
                }

                // image of the user
                img {
                    border-radius: 50px;
                    object-fit: cover;
                }

                // message body
                div.message-area {
                    background-color: transparent;
                    width:100%;
                    margin-left: 20px;

                    // delete
                    a.btn.btn-danger {
                        float: right;
                        color: rgb(189, 33, 48);
                        background-color: $color-bg;
                        transform: scale(.70);

                        &:hover {
                            background-color: $color-delete-btn-font;
                            color: whitesmoke;
                        }
                    }
                }
            }
        }
        }
    }

    #timelinenouser-news-list {
        #timelinenouser-news {
            padding-right: 0px !important;

            #news-item-container {

                a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        color: white;
                    }

                    &:hover > #news-item  {
                        background-color: $hover-color !important;
                    }
                }

                #news-item{
                    background-color: $focus-color !important;

                    .news-item-image {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}