.modal-content,
.modal-header,
.modal-body,
.modal-footer {
    background-color: $color-bg !important;
}

.modal-content{
    border: 1px solid $color-border !important;
}

.modal-header {
    border-bottom: 1px solid $color-border !important;

    button.close {
        color: whitesmoke !important;
    }
}

.modal-footer {
    border-top: 1px solid $color-border !important;

    button.btn.btn-primary,
    button.btn.btn-secondary {
        background-color: $hover-color  !important;
        border-color: $hover-color !important;
    }
}

#bio, #text {
    border: 1px solid $color-border !important;
    background-color: $focus-color !important;
    color: whitesmoke;

    &:focus {
        box-shadow: none !important;
    }
}