.profile_home {
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 12.5px;
    height: 50vh;
    background-image: url('../images/default-timline-header.jpg');
    background-position: bottom;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: $border-radius;

    h1, h4, button {
        margin-left: 50px;
    }

    button {
        padding: 12.5px;
        border-color: $color-bg;
        background-color: $color-bg;
        text-transform: uppercase;

        &:hover {
            background-color: $hover-color;
            border-color: $hover-color;
        }
    }
}

.profile_home_avatar {
    position: relative;
    top: 50%;
    border-radius: 100%;
    border: 10px solid $color-bg;
    width: 150px;
    height: 150px;
}

#profile-timeline-container {
    justify-content: center;
    margin: $distance-to-navbar-and-footer;
}

#aside-profile-timeline-outer {
    position: relative;
    width: 500px;
}

div#aside-profile-timeline-middle {
    position: sticky;
    top: $distance-to-window-aside;
}

div#aside-profile-timeline-inner {

    h3 { font-size: 1.1rem; }

    h6 { font-size: .9rem;  }

    ul {
        list-style-type: none;
        padding: 0px;

        li {
            font-size: .75rem;

            span { font-weight: 800  }
        }
    }

    .manage_account_btn {
        color: whitesmoke !important;

        &:hover {
            text-decoration: none !important;
        }
    }
}